.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.button {
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--primary-color);

  border-radius: 50%;
}

.text {
  margin-left: 1.5rem;

  font-size: 2.4rem;
  font-weight: 700;

  color: var(--primary-color);
  background-color: transparent;

  border: none;
  outline: none;
  border-bottom: 2px solid #ccc;
  transition: all ease-in 0.2s;
  padding: 0 2px;

  &:focus {
    border-bottom-color: var(--primary-color);
    padding: 0 6px;
  }
}
